# Node/Bun-related files (no need to include locally installed modules)
node_modules/
bun.lockb
bun.lock

# Build artifacts (only need source code in Docker)
dist/
build/
.cache/
.DS_Store

# Git-related files (useless in a container)
.git/
.gitignore

# Environment files (they should be passed at runtime)
.env
.env.local
.env.production
.env.development
.env.test
.env_sample

# Docker-related
Dockerfile
Docker-compose.local.yaml
.dockerignore

# Logs and temp files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-error.log*
*.swp

# IDE and editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS/Linux-specific junk files
.DS_Store
Thumbs.db
